:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}
* {
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  background-color: var(--body-bg-color);
  grid-template-areas: "aside main" "footer footer";
  grid-template-rows: 1fr 20px;
  grid-template-columns: 0.33fr 1fr;
}
main,
aside,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*##########----------------------- MAIN ----------------------------###########*/
main {
  grid-area: main;
}
main > div {
  width: 90%;
  display: flex;
  background-color: var(--bg-cards);
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
}

.my-projects {
  height: 86px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.my-projects :nth-child(1) {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}
.my-projects :nth-child(2) {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

/*##########----------------------- ASIDE ----------------------------###########*/
aside {
  grid-area: aside;
}
aside > div {
  width: 80%;
  display: flex;
  background-color: var(--bg-cards);
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  margin: 40px 40px 0;
}
aside h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}
/*--------------PROFILE----------------*/
.profile {
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profile .imagem {
  width: 128px;
  height: 128px;
  background: url("../img/photo.png") center center no-repeat;
  background-size: contain;
  border: 3px solid gold;
  border-radius: 50%;
}

.profile .descricao {
  text-align: center;
  font-style: normal;
}

.profile .descricao :nth-child(1) {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
}
.profile .descricao :nth-child(2) {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

/*--------------LINKS----------------*/
.links {
  height: 348px;
  padding: 30px 40px;
}

.links li {
  list-style: none;
  margin: 15px 0px;
}

.links a {
  text-decoration: none;
}
.links a :nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: inline-block;
  margin-left: 20px;
}
.links a :nth-child(1) {
  font-size: 23px;
  color: #ff4d4d;
}
/*--------------TECHNOLOGIES----------------*/

.technologies {
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  align-items: start;
}

.technologies table {
  border-spacing: 15px 15px;
}
.technologies td {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  height: 24px;
  width: 86px;
  border-radius: 30px;
  background-color: var(--bg-techs);
  text-align: center;
  text-transform: uppercase;
  color: black;
}

/*--------------EXPERIENCIES----------------*/
.experiences,
.education {
  width: 348px;
  height: 349px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: start;
}
.experiences div,
.education div {
  width: 100%;
}
.experiences ul,
.education ul {
  margin: 30px;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  justify-items: start;
}
.experiences ul li::first-line,
.education ul li::first-line {
  font-weight: bold;
  font-size: 14px;
}

/*--------------EDUCATION----------------*/
.education {
  height: 352px;
  width: 348px;
  padding-bottom: 40px;
}

/*##########----------------------- FOOTER ----------------------------###########*/
footer {
  grid-area: footer;
  margin: 30px;
  padding: 30px;
}
